/* I'm still learning CSS so for the most part this file will remain unused. */

/* 9/7/22 - Time to use this a little bit <3 */

body {
    background: linear-gradient(#b9dbe9, #cbf0e6 );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h3 {
    background: linear-gradient(to right, #b9dbe9, #cbf0e6);
    background-repeat: no-repeat;
    background-attachment: fixed;
}